[data-menu="button"] {
    display: none;
}

@media(max-width:700px) {
    .js [data-menu="button"] {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FEFDFF;
        border: 2px solid #241E1D;
        padding: 0.52rem 1.04rem;
        border-radius: 50%;
        font-family: 'Nunito', monospace;
        color: #241E1D;
        font-weight: 500;
        cursor: pointer;
        margin: 10px;
        z-index: 300;
    }

    .js [data-menu="button"]::before {
        content: url('../img/menu-mobile.svg');
        display: block;
    }

    .menu {
        position: relative;
    }

    .js #menu {
        display: none;
        position: absolute;
        background: #FEFDFF;
        width: 150px;
        z-index: 200;
        padding: 60px 0 20 0;
        top: 100%;
        right: 0px;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .js #menu.ativo {
        display: initial;
        animation: mostrarMenu 0.4s forwards;
    }

    .js #menu::before {
        content: "";
        display: block;
        position: absolute;
        top: -10px;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #FEFDFF;
    }

    @keyframes mostrarMenu {
        from {
            opacity: 0;
            transform: translate3d(0, -30px, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    .menu ul{
        justify-content: center;
        border: 2px solid #241E1D;
    }   

    .menu ul li {
        font-size: 1.2rem;
        line-height: 1.2rem;
        border: 0;
        font-weight: 500;
        border-radius: 0;
        background: none;
        padding: 5px;
        cursor: pointer;
        position: relative;
        text-align: center;
    }

    .menu ul li a {
        color: #120D0C;
    }

    .menu ul li::after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #120D0C;
    }
    .menu ul li:last-child::after {
        left: -6px;
    }

    .menu ul li:hover {
        border: 0;
        background: none;
    }

    .menu ul li:last-child {
        margin-right: 0px;
    }
}

@media(max-width:414px) {
    .js #menu {
        top: 100%;
        right: -30px;
    }
    .js #menu::before {
        right: 44%;
    }
}