.pagamento-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario-pagar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background: #120D0C;
    padding: 0rem 3rem 1.5rem 3rem;
    margin-bottom: 1rem;
}

.formulario-pagar h3 {
    color: #FEFDFF;
    font-family: 'Nunito', monospace;
    font-size: 15px;
    line-height: 1.06;
    margin-top: 2rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.formulario-pagar h3::before {
    content: "";
    width: 15px;
    height: 4px;
    background: #BB0000;
    margin-right: 5px;
}

.formulario-pagar input, .formulario-pagar select, .selecione-container {
    display: block;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin: 1px 10px 5px 0;
    font-family: 'Nunito', monospace;
    color: #686563;
    font-size: 18px;
    background: #fff;
    border: 1px solid  transparent;
}

.formulario-pagar ::placeholder {
    opacity: 0.5;
}

.formulario-pagar label {
    color: #D8D6D6;
    font-family: 'Nunito', monospace;
    font-size: 20px;
    margin: 2rem 10px 2rem 0;
}

.nome, .cep, .num-cartao, .politica {
    grid-column: 1;
}

.email, .cpf, .complemento, .formulario-pagar button, .nome-cartao {
    grid-column: span 2;
}

.email input, .cpf input, .complemento input, .nome-cartao input {
    width: 100%;;
}

input[type="email"].invalido, input[id="cpf"].invalido, input[id="cep"].invalido {
    border: 1px solid #BB0000;
}

input[type="email"].valido, input[id="cpf"].valido, input[id="cep"].valido, input.validar-input, select.validar-input, .parcela-ativa {
    border: 1px solid #3f4;
}

.erro-validacao {
    display: none;
    color: #BB0000;
    font-family: 'Nunito', monospace;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}

.erro-parcelas {
    display: block;
    color: #BB0000;
    font-family: 'Nunito', monospace;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}

.erro-validacao.ativar-erro {
    display: block;
}

.seta-baixo {
    color: #120D0C;
    font-size: 30px;
    margin-left: auto;
}

.seta-baixo:hover {
    transform: scale(1.3);
}

.uma-vez, .duas-vezes {
    background: #fff;
    padding: 8px 16px;
    margin-top: 0;
    margin-bottom: 5px;
    display: none;
}

.uma-vez.ativo, .duas-vezes.ativo {
    display: block;
}

.uma-vez input, .duas-vezes input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
} 

.uma-vez label, .duas-vezes label {
    font-family: 'Nunito', monospace;
    color: #686563;
    cursor: pointer;
}

.uma-vez label::before, .duas-vezes label::before {
    content: "";
    display: inline-block !important;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid rgb(173, 167, 167);
    border-radius: 50%;
    margin-right: 8px;
}

.uma-vez input:checked + label::before, .duas-vezes input:checked + label::before {
    border-color: #550000;
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 6px #550000 ;
}

.selecione-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}

.politica {
    grid-column: span 2;
    display: flex;
    align-items: center !important;
    gap: 5px;
    margin-bottom: 2rem;
    position: relative;
}

.politica::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #BB0000;
    bottom: -10px;
}

.politica label, .politica input {
    margin: 0 !important;
    padding: 0 !important;
}

.politica a {
    color: #FEFDFF;
    text-decoration: underline;
}

.formulario-pagar button {
    font-family: 'Nunito', monospace;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1;
    letter-spacing: 1px;
    background: #BB0000;
    border: none;
    color: #D8D6D6;
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.resumo-pagamento {
    background: #EEEEEE;
    padding: 2rem;
}

.resumo-item {
    background: #120D0C;
    padding: 1rem 2rem;
    border-radius: 20px;
}

.produto-container h5 {
    font-family: 'Nunito', monospace;
    color: #87817E;
    font-size: 15px;
    margin-top: auto;
    margin-left: auto;
}

.produto p {
    font-family: 'Nunito', monospace;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 2px;
    font-size: 1.1rem;
    color: #302A29;
}

.produto span {
    font-family: 'Nunito', monospace;
    font-weight: bold;
    font-size: 1rem;
    color: #120D0C;
}

.produto-container {
    padding: 1rem 2rem;
    display: flex;
    gap: 10px;
    background: #fff;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.produto {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.produto h3, .produto  h3 span{
    font-family: 'Nunito', monospace;
    text-align: center;
    letter-spacing: 1px;
    background: #120D0C;
    color: #FEFDFF;
}

.produto h3 {
    margin-top: 1rem;
    display: block;
    justify-self: start;
    padding: 8px 10px;
    border-radius: 10px;
}

.produto h3 span {
    font-size: 18px;
}

.produto-container:last-of-type {
    position: relative;
}

.produto-container:last-of-type::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #BB0000;
}

.resumo-item h2 {
    font-family: 'Nunito', monospace;
    text-align: center;
    letter-spacing: 1px;
    color: #FEFDFF;
    margin-bottom: 1rem;
    font-size: 25px;
}

.resumo-item h4 {
    font-family: 'Nunito', monospace;
    color: #fff;
    font-weight: 500;
    font-size: 19px;
    margin-top: 2px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.resumo-item h4 span {
    margin-left: 5px;
}

.resumo-item h4::before {
    content: "";
    width: 7px;
    height: 7px;
    background: rgb(42, 226, 42);
    margin-right: 5px;
    border-radius: 50%;
}

.produto img {
    width: 150px;
}

@media(max-width: 1080px) {
    .pagamento-grid {
        grid-template-columns: 1fr;
    }
   
    .nome input, .sobrenome input, .cep input, .rua input, .bairro input, .cidade input, .num-cartao input, .codigo input {
        width: 100%;;
    }

    .selecione-container {
        max-width: 280px;
    }

    .resumo-pagamento {
        grid-row: 1;
    }
}

@media(max-width:468px) {
    .produto img {
        width: 120px;
    }
    .resumo-item h4 {
        font-size: 17px;
    }
    .resumo-item h2 {
        font-size: 20px;
    }

    .produto p {
        font-size: 0.95rem;
    }

    .produto span {
        font-size: 0.95rem;
    }

    .produto-container {
        flex-wrap: wrap;
        width: 230px !important;
    }
    .resumo-item {
        width: 300px;
    }
}

@media(max-width:430px) {
    .produto-container {
        width: 210px !important;
    }
    .resumo-item {
        width: 280px;
    }
}

@media(max-width:400px) {
    .produto-container {
        width: 170px !important;
    }
    .resumo-item {
        width: 230px;
    }
}

@media(max-width:354px) {
    .produto-container {
        width: 130px !important;
    }

    .resumo-item {
        width: 210px;
    }

    .resumo-item h4{
        display: grid;
        position: relative;
    }

    
    .resumo-item h4::before {
        position: absolute;
        content: "";
        left: -10px;
        top: 8px;
    }

    .produto img {
        width: 100px;
    }

    .produto-container h5 {
        margin-left: 0 !important;
    }
}

@media(max-width:335px) {
    .produto-container {
        width: 110px !important;
    }
    .resumo-item {
        width: 180px;
    }
}

@media(max-width:591px) {
    .formulario-pagar div {
        grid-column: span 2;
    }

    .nome input {
        width: 100%;
    }
}